<!doctype html>
<html lang = "en">
    <head>
        <meta charset = "utf-8">
        <meta http-equiv = "x-ua-compatible" content = "ie = edge">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1">
        <!-- TODO: Replace "My Site" with your site name -->
        <title>My Site - $title$</title>
        $if(author)$
            <meta name = "author" content = "$author$">

        $endif$

        $if(keywords)$
            <meta name = "keywords" content = "$keywords$">

        $endif$

        $partial("src/templates/imports.html")$

    </head>

    <body>

        $partial("src/templates/header.html")$

        <div class = "dark-mode-container">
            <button class = "dark-mode-button" onclick = "toggleDarkMode()">
                <img src = "/images/moon.svg"
                    id = "theme-icon"
                    style = "height = 1.5rem;"
                    alt = "Dark Mode"
                />
            </button>
        </div>

        <main role = "main">

            $body$

        </main>

        $partial("src/templates/footer.html")$

        <script src = "/js/main.js"></script>

    </body>
</html>
