html {
  font-size: 100%;
}

body {
  font-size: 1rem;
  color: var(--base-text-color);
  background-color: var(--base-color);
  font-family: "JetBrains Mono";
}

a {
  color: var(--base-highlight-color);
  text-decoration: underline;
  text-decoration-color: var(--base-highlight-color);
  transition: background-color 0.2s ease, color 0.2s ease;

  &:hover {
    color: var(--negative-text-color);
    text-decoration-color: var(--negative-text-color);
    background-color: var(--base-highlight-color);
  }
}

header {
  border-bottom: 0.1rem solid var(--base-text-color);
  position: relative;
}

nav {
  display: flex;
  justify-content: flex-end;
  text-align: right;

  a {
    font-size: 2rem;
    color: var(--base-text-color);
    text-decoration: none;
    text-transform: lowercase;
    position: relative;
    padding: 0 0.1rem;

    &::after {
      content: "|";
      position: absolute;
      right: -1.8rem;
      color: var(--base-text-color);
      pointer-events: none;
    }

    &:last-child::after {
      content: "";
    }

    &:hover {
      background-color: var(--base-highlight-color);
      color: var(--negative-text-color);
      transition: background-color 0.2s ease, color 0.2s ease;
    }
  }
}

hr {
  background-color: var(--base-color);
  margin: 2rem 0.5rem;
  border: none;

  &::before {
    content: "* * *";
    display: block;
    text-align: center;
    color: var(--base-text-color);
  }
}

#nav-menu {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

#email {
  color: var(--base-highlight-color);
  cursor: pointer;
  text-decoration: underline;
}

footer {
  margin-top: 3rem;
  padding: 1.2rem 0;
  border-top: 0.1rem solid var(--base-text-color);
  font-size: 1.2rem;

  a:hover {
    background-color: transparent !important;
    color: inherit;
  }
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

mark {
  background-color: var(--base-highlight-color);
  color: var(--negative-text-color);
}

article .header {
  font-size: 1.4rem;
  font-style: italic;
}

.logo {
  a {
    font-weight: bold;
    color: var(--base-text-color);
    text-decoration: none;

    &:hover {
      background-color: transparent !important;
      color: inherit;
    }
  }
}