html.dark-mode {
  background: var(--negative-color);
  color: var(--negative-text-color);

  header {
    border-bottom: 0.1rem solid var(--negative-text-color);
  }

  body {
    background-color: var(--negative-color);
    color: var(--negative-text-color);
  }

  footer {
    border-top: 0.1rem solid var(--negative-text-color);
  }

  nav {
    a,
    a::after {
      color: var(--negative-text-color);
    }

    a:hover {
      background-color: var(--negative-highlight-color);
      color: var(--base-text-color);
    }
  }

  mark {
    background-color: var(--negative-highlight-color);
    color: var(--base-text-color);
  }

  a {
    color: var(--negative-highlight-color);
    text-decoration-color: var(--negative-highlight-color);

    &:hover {
      color: var(--base-text-color);
      text-decoration-color: var(--base-text-color);
      background-color: var(--negative-highlight-color);
    }
  }

  hr {
    background-color: var(--negative-color);

    &::before {
      color: var(--negative-text-color);
    }
  }

  #email {
    color: var(--negative-highlight-color);
  }
}
