@use 'variables' as *;

@media (max-width: #{$breakpoint-xs - 1px}) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }

  header {
    margin: 1.5rem 0;
  }

  nav {
    margin: 0 auto 3rem;
    text-align: center;

    a {
      display: block;
      line-height: 1.6;

      &:hover {
        transition: background-color 0s, color 0s;
      }
    }
  }

  footer {
    text-align: center;
  }

  .logo {
    text-align: center;
    margin: 1rem auto 3rem;

    a {
      font-size: 2.4rem;
    }
  }
}

@media (min-width: $breakpoint-xs) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }

  header {
    margin: 1.5rem 0;
  }

  nav {
    margin: 0 auto 3rem;
    justify-content: center;
    text-align: center;

    a {
      display: inline;
      margin: 0 0.6rem;

      &:hover {
        transition: background-color 0s, color 0s;
      }
    }
  }

  footer {
    text-align: center;
  }

  .logo {
    text-align: center;
    margin: 1rem auto 3rem;

    a {
      font-size: 2.4rem;
    }
  }

  a {
    transition: background-color 0s, color 0s;
  }
}

@media (min-width: $breakpoint-lg) {
  body {
    width: 62%;
    margin: 0 auto;
    padding: 0;
  }

  header {
    margin: 0 0 0.6rem;
    padding: 1.2rem 0;
  }

  nav {
    margin: 0;
    justify-content: flex-end;
    text-align: right;

    a {
      margin: 0 0 0 1.2rem;
      display: inline;
    }
  }

  footer {
    text-align: right;
  }

  .logo {
    margin: 0;
    text-align: left;

    a {
      float: left;
      font-size: 1.8rem;
    }
  }
}

@media (max-width: $breakpoint-menu) {
  nav a {
    display: block;
    margin: 0.5rem 0;

    &::after {
      content: "";
    }
  }

}