// size breakpoints for changes
$breakpoint-xs:   320px;
$breakpoint-lg:   1200px;
$breakpoint-menu: 750px;

// colors
:root {
  --base-color: #f7f3f2;
  --negative-color: #272525;
  --base-text-color: #272525;
  --negative-text-color: #f7f3f2;
  --base-highlight-color: #785ef0;
  --negative-highlight-color: #d4bbff;
}